<div class="d-flex justify-content-end">
  <button class="btn btn-primary float-right m-4">Add Food</button>
</div>

 
<table class="table my-2">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   <% @food.each do |f|%>
    <tr>
      <th scope="row"><%= f.name %></th>
      <td><%= f.measurement_unit %></td>
      <td>$<%= f.price%></td>
      <td>Delete</td>
    </tr>
  <% end %>
  </tbody>
</table>

