@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');

.bg-color {
  background-color: #f8f2f2d2;
}

.navbar {
  background-color: #ddc8c4 !important;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  color: #190e4f !important;
}

#username-navbar {
  color: #dc3544;
  font-size: 18px;
  font-weight: 600;
}

h1 {
  font-family: 'Bree Serif', serif !important;
  color: #190e4f !important;
  font-size: 60px !important;
}

h2 {
  font-family: 'Bree Serif', serif !important;
  font-size: 40px !important;
}

a {
  text-decoration: none !important;
}
